@model TechInvMgmt.Models.Part

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
        <label asp-for="IsSerialized" class="control-label"></label>
        <input asp-for="IsSerialized" class="form-control" />
        <span asp-validation-for="IsSerialized" class="text-danger"></span>
    </div>-->

            <div class="form-group">
                <label asp-for="IsSerialized"></label><br />
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-lg">
                        <input asp-for="IsSerialized" value="True" class="form-control" type="radio" autocomplete="off">Yes
                    </label>
                    <label class="btn btn-secondary btn-lg">
                        <input asp-for="IsSerialized" value="False" class="form-control" type="radio" autocomplete="off">No
                    </label>
                    <span asp-validation-for="IsSerialized" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
