@{
    ViewData["Title"] = "Van Count";
}

<div class="nav justify-content-center" style="width: 100%; text-align:center;">
    <h1 id="header" class="tablePageHeader">REMVAN COUNTER</h1>
</div>

<div id="filesHandlerGroup">
    <input type="file" id="file1" accept=".csv" class="fileInput"><br /><br />
    <button type="button" id="commense">Do my work for me</button>
</div>

<table class="myTables" id="indexTable" style="text-align:center;background-color:white;margin: 0 auto;">
    <thead>
        <tr>
            <th style="width:50%;">
                Part#
            </th>
            <th style="width:50%;">
                Qty
            </th>
        </tr>
    </thead>
    <tbody id="tableRows">
    </tbody>
</table>

<script>

    document.body.style.backgroundColor = "#add9ff";

    document.getElementById("file1").addEventListener("change", (event) => {
        file1 = event.target.files[0];
        console.log(file1);
    });
    document.getElementById("commense").addEventListener("click", () => {
        if (file1) {
            var fileReader = new FileReader();
            fileReader.readAsBinaryString(file1);
            var file1data;
            fileReader.onload = (event) => {
                file1data = event.target.result;
                console.log(file1data.substr(0, 10));
                // Call processData()
                processData(file1data);
            }
        }
    });

    function processData(file1data) {

        var techCount = file1data;

        document.getElementById("header").textContent = techCount.substr(0, 8);
        // Let's make arrays for columns: PART#, SQR, and COUNT.
        var colPart = new Array();
        var colQty = new Array();



        for (var i = 0; i < colPart.length; i++) {
            var indexOfCount = techCount.search(colPart[i]);
            var numOfDigits = 1;
            if (techCount.substr(indexOfCount + colPart[i].length + 2, 1) != ",") {
                numOfDigits++;
            }
            if (techCount.substr(indexOfCount + colPart[i].length + 3, 1) != ",") {
                numOfDigits++;
            }
            var count = parseInt(techCount.substr(indexOfCount + colPart[i].length + 1, numOfDigits));
            colCount.push(count);
        }
        console.log(colQty);
        populateDataTable(colPart, colQty);
    }

    function populateDataTable(colPart, colSQR, colCount) {
        var duplicates = 0;
        for (var i = 0; i < colPart.length; i++) {


            // Check for duplicate PARTS
            if (colPart[i] != colPart[i + 1] && colPart[i + 1] != null) {
                var newRow = document.createElement("tr");
                document.getElementById("tableRows").appendChild(newRow);

                // Part#
                var partCell = document.createElement("td");
                partCell.innerHTML = colPart[i];
                partCell.style.backgroundColor = "#ccac88";
                partCell.style.padding = "0.75rem 0 0.75rem 0";
                partCell.style.border = "1px dotted grey";
                newRow.appendChild(partCell);
                // SQR
                var SQRCell = document.createElement("td");
                SQRCell.innerHTML = colSQR[i] + duplicates;
                SQRCell.style.backgroundColor = "#a0a0a0";
                SQRCell.style.padding = "0.75rem 0 0.75rem 0";
                SQRCell.style.border = "1px dotted grey";
                newRow.appendChild(SQRCell);
                // Count
                var countCell = document.createElement("td");
                countCell.innerHTML = colCount[i];
                countCell.style.backgroundColor = "#c7c7c7";
                countCell.style.padding = "0.75rem 0 0.75rem 0";
                countCell.style.border = "1px dotted grey";
                newRow.appendChild(countCell);
                // Variance
                var varianceCell = document.createElement("td");
                varianceCell.style.backgroundColor = "#8bbb8b";
                varianceCell.style.padding = "0.75rem 0 0.75rem 0";
                varianceCell.style.border = "1px dotted grey";
                var varianceValue = 0;
                var SQRValue = parseInt(SQRCell.textContent.trim());
                var countValue = parseInt(countCell.textContent.trim());
                if (SQRValue > countValue) {
                    varianceValue = countValue - SQRValue;
                    varianceCell.style.backgroundColor = "#ff8f8f";
                }
                if (SQRValue < countValue) {
                    varianceValue = "+" + (countValue - SQRValue);
                    varianceCell.style.backgroundColor = "#ff8f8f";
                }
                varianceCell.innerHTML = varianceValue;
                newRow.appendChild(varianceCell);
                // Fixed?
                var fixedCell = document.createElement("td");
                fixedCell.style.backgroundColor = "#b8b8ff";
                fixedCell.style.padding = "0.75rem 0 0.75rem 0";
                fixedCell.style.border = "1px dotted grey";
                if (SQRValue > countValue) {
                    fixedCell.innerHTML = "☐ issue " + Math.abs(varianceValue);
                }
                else if (SQRValue < countValue) {
                    fixedCell.innerHTML = "☐ transfer " + Math.abs(varianceValue);
                }
                else {
                    fixedCell.innerHTML = "✓";
                }
                newRow.appendChild(fixedCell);
                duplicates = 0;
            }
            else if (colPart[i] == colPart[i + 1]) {
                duplicates++;
            }
            document.getElementById("filesHandlerGroup").style.display = "none";
        }
    }

</script>
