<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechInvMgmt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/lux-css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" type="text/css" />-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Hover/hover-min.css" />

</head>
<body id="theBody">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark box-shadow" style="background-color:#7796cb!important;border: 3px solid black;">
            <div class="container">
                <a class="navbar-brand hvr-skew" asp-area="" asp-controller="Home" asp-action="Index">Tech<wbr>Inv<wbr>Mgmt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <!--Only show nav links to other views if user is authenticated -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item dropdown" style="padding-top:20px;padding-bottom:20px;width:fit-content;">
                                <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <a class="nav-link text-light hvr-float-shadow hvr-icon-bob" style="text-align:center;"><img class="nav-icon fa fa-phone hvr-icon" src="~/img/Parts.png" /> Parts</a>
                                </div>
                                <ul class="dropdown-menu" style="padding:0px;width: 200px;">
                                    <li><a class="nav-link btn hvr-forward" asp-action="Index" asp-controller="Parts" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/View.png" style="height:24px;" /><div class="text-dark">View Parts List</div></a></li>
                                    <li><a class="nav-link btn hvr-forward" asp-action="Create" asp-controller="Parts" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/CreatePencil.png" style="height:24px;" /><div class="text-dark">New Part</div></a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" style="padding-top:20px;padding-bottom:20px;width:fit-content;">
                                <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <a class="nav-link text-light hvr-float-shadow hvr-icon-bob" style="text-align:center;"><img class="nav-icon fa fa-star hvr-icon" src="~/img/Barcode.png" /> Serial</a>
                                </div>
                                <ul class="dropdown-menu" style="padding:0px;width: 200px;">
                                    <li><a class="nav-link btn hvr-forward" asp-action="Index" asp-controller="SerialNumbers" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/View.png" style="height:24px;" /><div class="text-dark">View Serial Numbers</div></a></li>
                                    <li><a class="nav-link btn hvr-forward" asp-action="Create" asp-controller="SerialNumbers" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/CreatePencil.png" style="height:24px;" /><div class="text-dark">New Serial Number</div></a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" style="padding-top:20px;padding-bottom:20px;width:fit-content;">
                                <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <a class="nav-link text-light hvr-float-shadow hvr-icon-bob" style="text-align:center;"><img class="nav-icon fa fa-chevron-up hvr-icon" src="~/img/Inventory.png" /> Inv</a>
                                </div>
                                <ul class="dropdown-menu" style="padding:0px;width: 200px;">
                                    <li><a class="nav-link btn hvr-forward" asp-action="Index" asp-controller="Inventory" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/View.png" style="height:24px;" /><div class="text-dark">View All Inventory</div></a></li>
                                    @if (User.IsInRole("Tech"))
                                    {
                                        <li><a class="nav-link btn hvr-forward" asp-action="MyInventory" asp-controller="Inventory" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/MyInv.png" style="height:24px;" /><div class="text-dark">View my Inventory</div></a></li>
                                    }
                                    <li><a class="nav-link btn hvr-forward" asp-action="Create" asp-controller="Inventory" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/CreatePencil.png" style="height:24px;" /><div class="text-dark">Add to my Inventory</div></a></li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown" style="padding-top:20px;padding-bottom:20px;width:fit-content;">
                                <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <a class="nav-link text-light hvr-float-shadow hvr-icon-buzz" style="text-align:center;"><img class="nav-icon fa fa-clock-o hvr-icon" src="~/img/Van.png" /> Subinv</a>
                                </div>
                                <ul class="dropdown-menu" style="padding:0px;width: 200px;">
                                    <li><a class="nav-link btn hvr-forward" asp-action="Index" asp-controller="Subinventories" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/View.png" style="height:24px;" /><div class="text-dark">View Subinventories</div></a></li>
                                    <li><a class="nav-link btn hvr-forward" asp-action="Create" asp-controller="Subinventories" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/CreatePencil.png" style="height:24px;" /><div class="text-dark">New Subinventory</div></a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" style="padding-top:20px;padding-bottom:20px;width:fit-content;">
                                <div class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <a class="nav-link text-light hvr-float-shadow hvr-icon-bob" style="text-align:center;"><img class="nav-icon fa fa-smile-o hvr-icon" src="~/img/Employees.png" /> Employees</a>
                                </div>
                                <ul class="dropdown-menu" style="padding:0px;width: 200px;">
                                    <li><a class="nav-link btn hvr-forward" asp-action="Index" asp-controller="Employees" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/View.png" style="height:24px;" /><div class="text-dark">View Employees</div></a></li>
                                    <li><a class="nav-link btn hvr-forward" href="https://techinvmgmt.com/Identity/Account/Register" style="padding:2px 20px 2px 20px;background-color:#a3bcf9;text-align: left;border-top:3px solid black;"><img class="nav-icon" src="~/img/CreatePencil.png" style="height:24px;" /><div class="text-dark">New Employee</div></a></li>
                                </ul>
                            </li>

                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3" style="padding-top:30px;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Make HTML select/input elements Searchable dropdown lists -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.4/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.4/datatables.min.js"></script>

    <!-- toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
