<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechInvMgmt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/lux-css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" type="text/css" />-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Hover/hover-min.css" />

</head>
<body id="theBody">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg box-shadow" style="background-color:white;padding: 0.5rem;">
            <div class="container">
                <a class="navbar-brand hvr-skew" asp-area="" asp-controller="Home" asp-action="Index">Tech<wbr>Inv<wbr>Mgmt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="background-image:url(/img/HamburgerMenu.png);"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <!--Only show nav links to other views if user is authenticated -->
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown" >
                            <div class="dropdown-toggle" href="#">
                                <a class="nav-link text-dark" data-toggle="collapse" data-target="#tablesmenu"><img class="nav-icon" src="~/img/Tables.png"/><span>Tables</span></a>
                            </div>
                            <ul class="collapse" id="tablesmenu" style="list-style-type:none;padding:0px;box-shadow: 0px 12px 15px -5px #000000;background-color:white;width:50px;z-index:1;">
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="MyInventory" asp-controller="Inventory" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Inventory.png" /></a></div><span class="hide">My Inv</span></li>
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="Index" asp-controller="Parts" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Parts.png" /></a></div><span class="hide">Parts</span></li>
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="Index" asp-controller="SerialNumbers" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Barcode.png" /></a></div><span class="hide">Serial#</span></li>
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="Index" asp-controller="Inventory" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Inventory.png" /></a></div><span class="hide">Inventory</span></li>
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="Index" asp-controller="Subinventories" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Van.png" /></a></div><span class="hide">Subinvs</span></li>
                                <li class="dottedBorderBottom"><div class="myDIV"><a asp-action="Index" asp-controller="Employees" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Employees.png" /></a></div><span class="hide">Employees</span></li>
                                <li><div class="myDIV"><a asp-action="ReplenishList" asp-controller="Inventory" style="width:100%;display:flex;"><img class="myNavImg" src="~/img/Inventory.png" /></a></div><span class="hide">Replenish</span></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" >
                            <div class="dropdown-toggle" href="#">
                                <a class="nav-link text-dark" data-toggle="collapse" data-target="#addmenu"><img class="nav-icon" src="~/img/AddNew.png"/><span>Add</span></a>
                            </div>
                            <ul class="collapse" id="addmenu" style="list-style-type:none;padding:0px;box-shadow: 0px 12px 15px -5px #000000;background-color:white;width:50px;z-index:1">
                                <li><a class="nav-link btn hvr-sweep-to-right wide" asp-action="Create" asp-controller="Parts" style="border-bottom: 1px dotted;"><img class="nav-icon" src="~/img/Parts.png" style="height:24px;" /></a><span class="hide">Add Part</span></li>
                                <li><a class="nav-link btn hvr-sweep-to-right wide" asp-action="Create" asp-controller="SerialNumbers" style="border-bottom: 1px dotted;"><img class="nav-icon" src="~/img/Barcode.png" style="height:24px;" /></a><span class="hide">Add Serial#</span></li>
                                <li><a class="nav-link btn hvr-sweep-to-right wide" asp-action="Create" asp-controller="Inventory" style="border-bottom: 1px dotted;"><img class="nav-icon" src="~/img/Inventory.png" style="height:24px;" /></a><span class="hide">Add to Inv</span></li>
                                <li><a class="nav-link btn hvr-sweep-to-right wide" asp-action="Create" asp-controller="Subinventories" style="border-bottom: 1px dotted;"><img class="nav-icon" src="~/img/Van.png" style="height:24px;" /></a><span class="hide">Add Subinv</span></li>
                                <li><a class="nav-link btn hvr-sweep-to-right wide" href="https://techinvmgmt.azurewebsites.net/Identity/Account/Register"><img class="nav-icon" src="~/img/Register.png" style="height:24px;" /></a></li>

                            </ul>
                        </li>
                    </ul>
                    

                    }
                </div>
            </div>
        </nav>
    </header>


    <div class="bodyContainer">
        <main role="main" class="pb-3" style="padding-top:2rem;">
            @RenderBody()
        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Make HTML select/input elements Searchable dropdown lists -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
