

@{
    ViewData["Title"] = "Serial Number Menu";
}

<div class="justify-content-center" style="width: 100%; text-align:center;">
    <h1>Serial Numbers</h1>
    <h3>What would you like to do?</h3>
    <div class="form-group">
        <a class="btn btn-info btn-lg hvr-icon-bob" asp-action="Index" asp-controller="SerialNumbers" style="width: 70%;"><img class="nav-icon fa fa-smile-o hvr-icon" src="~/img/List.png" /><div class="text-light">View Serial Number List</div></a>
    </div>
    <div class="form-group">
        <a class="btn btn-success btn-lg hvr-icon-bob" asp-action="Create" asp-controller="SerialNumbers" style="width: 70%;"><img class="nav-icon fa fa-smile-o hvr-icon" src="~/img/Pencil.png" /><div class="text-light">Add to Serial Number List</div></a>
    </div>

</div>