/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#myInv {
    font-size: 15px;
    font-weight: 600;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
}

#theBody{
    background-image: url("../img/WHStransparent.png");
    background-position:center;
    background-size:cover;
}

.select2-search, .select2-results {
    background-color: #f9c784;
}

.select2-selection {
    background-color: #f9c784;
    opacity: 0.85;
}

.form-group {
    background-color: #7796cb;
    border-radius: 5px;
    border: 2px solid #324376;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.toggle {
    z-index: -1 !important;
}

.btn-default {
    background-color:tomato;
}

#tableOfStuff_wrapper {
    background-color: #7796cb;
    padding: 10px;
    border: 3px inset;
    border-radius: 8px;
}

.toggle-handle {
    background-color:gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }


    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 50%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }
