/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.paginationBtn {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    margin-left: 1px;
    cursor:pointer
}

.paginationBtn:hover {
    background: white;
}

#pages {
    overflow: hidden;
    padding: 12px 0px 12px 0px;
    float: left;
}

/*FORM-STYLING*/
*:focus, *:active {
    outline: none;
    border: none;
    box-shadow:none;
}

.select2-container--default .select2-selection--single {
    background-color: #650d0d !important;
}
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: palegoldenrod !important;
    }

.form-control {
    background-clip: inherit;
}

.form-group {
    width: 22rem;
    margin: 10px auto;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 0px #27ff00;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.765625rem;
}

    .form-group input,
    .form-group input:focus {
        background-color: #afafaf;
        border:none;
    }

.submitBtn {
    color: palegoldenrod;
}

.submitBtn:hover {
    background-color: palegoldenrod;
    color: #650d0d;
}



/*the background of the dropdown menu*/
.select2-search, .select2-results {
    background-color: #cacaca !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 45px !important;
    border:none !important;
    border-radius:0px !important;
}
/*make arrow icon color white*/
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #fff transparent transparent transparent !important;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
    }


/*up arrow*/
.select2-container--default .select2-selection--single .select2-selection__arrow b:active {
    border-color: #fff transparent transparent transparent !important;

}

/*down arrow*/
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent !important;
}

.select2-container--open b {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
}


.myTables {
    /*box-shadow: 0px 0px 50px 10px white;*/
}

.tablePageHeader {
    font-size: 4rem;
    width:100%;
}

#myInv {
    font-size: 15px;
    font-weight: 600;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
}


.bodyContainer {
    margin: 0 auto;
    width: 85vw;
    text-align: center;
}

input {
    text-align:center;
}

hr {
    background-color:white;
}




/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

/*my classes*/
.myBtn {
    text-decoration: none !important;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.8rem;
}

.font-White, .font-White:hover {
    color: white;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.toggle {
    z-index: -1 !important;
}

.btn-default {
    background-color:tomato;
}

.toggle-handle {
    background-color:gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.wide, .wide:hover {
    width:100%;
}


    /* Sticky footer styles
-------------------------------------------------- */
    html {
        font-size: 14px;
    }
    #tablesmenu, #addmenu {
        position: relative;
    }

    @media (min-width: 991px) {
        html {
            font-size: 16px;
        }
        #tablesmenu, #addmenu {
            position: absolute;
        }

    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.40);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        letter-spacing: 0px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 50%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }
