@model TechInvMgmt.Models.Subinventory
@inject TechInvMgmt.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Edit";
    List<Employee> employees = await TechInvMgmt.Data.EmployeeDb.GetEmployeesAsync(context);
}
<div class="justify-content-center" style="width:100%; text-align:center;">
    <h1>@Model.SubinventoryId</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SubinventoryId" />
                <div class="form-group subinvColor">
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <select asp-for="EmployeeId" class="searchDropdown" id="selectEmployee" style="width:100%;">
                        <option selected disabled>Select Employee</option>
                        <option>NONE</option>
                        @foreach (Employee e in employees)
                        {
                            <option value="@e.Id">@e.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div>
                    <a class="hvr-icon-back hvr-shadow" style="width:7rem;height:5rem;border-radius:12px;border: 1px solid #000000;background-color:#80558c;" asp-action="Index"><img class="fa fa-chevron-circle-left hvr-icon" src="/img/Back.png" style="height:5rem;" /></a>
                    <input type="submit" value="Save" class="btn btn-lg hvr-shadow" style="width:7rem;height:5rem;border-radius:12px;border: 1px solid #000000;background-color:#709e6f;color: white;" />
                    <a class="btn btn-danger btn-lg hvr-shadow" asp-action="Delete" asp-route-id="@Model.SubinventoryId" style="width: 7rem; border-radius: 12px; border: 1px solid #000000;background-color:#c36b57;height: 5rem;">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.body.style.backgroundImage = "url(/img/Van09bg.jpg)";
    document.body.style.backgroundSize = "cover";
    document.body.style.backgroundPosition = "center";
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
