@model TechInvMgmt.Models.Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


</div>


<script>
    document.body.style.backgroundImage = "url(/img/CementFloorbg.jpg)";
    document.body.style.backgroundPosition = "center";
    document.body.style.backgroundSize = "cover";
</script>